body, .restart{
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.restart {
  margin-top:-2px;
  margin-left:auto;
  margin-right:auto;
  border:1px solid rgb(97, 97, 97);
}

.center {
  margin: auto;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  height: 74px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 74px;
}

.ctrl {
  background: #fff;
  border: 2px solid rgb(255, 255, 255);
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 74px;
  height: 74px;
  margin-right: -1px;
  margin-bottom: 1px;;
  padding: 0;
  text-align: center;
  width: 74px;
  opacity:0;
  /* transition: 200ms; */
}

.select {
    border:5px solid rgb(255, 132, 0)
}

.ctrl:hover{
    opacity:1
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;

}

.play {
  display: flex;
  flex-direction: row;
}

.info {
  margin-left: -90px;
}

.gameGrid {
    border: 5px solid rgb(45, 164, 160);
    border-top:none;
}

footer {
  background-color:  rgb(255, 132, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

